@page "/display-name-for-label"
@using System.ComponentModel.DataAnnotations
<h3>DisplayNameForLabel</h3>

<Label For="@(() => model.FirstName)"></Label>

<label>
    <DisplayName For="@(() => model.FirstName)" />
    <InputDate @bind-Value="model!.FirstName" />
</label>

@code {
    private DisplayNameForLabelModel model = new DisplayNameForLabelModel()
    {
        FirstName = "John",
        LastName = "Doe"
    };

    // Model calss
    public class DisplayNameForLabelModel
    {
        // First Name
        [Display(Name = "First Name")]
        public string FirstName { get; set; } = string.Empty;
        // Last Name
        [Display(Name = "Last Name")]
        public string LastName { get; set; } = string.Empty;
    }

}
